        <section class="lastposts typeset">
          <h2>Recent posts</h2>
          <ul class="list list--posts">
            {%- for post in site.pages|filter_by('section', 'blog')|sort_by_date|slice(1, 5) ~%}
            <li class="item item--post">
              <a href="{{ url(post) }}">{{ post.title }}</a>
            </li>
            {%- endfor ~%}
          </ul>
        </section>
