    <header class="header">
      <div class="container">
        {%~ if site.logo is defined %}{% include 'partials/site-logo.html.twig' %}{% endif ~%}
        {%~ include 'partials/site-nav.html.twig' ~%}
      </div>
    </header>
