      <div class="lastposts">
        <h2>Recent posts</h2>
        <ul>
          {%- for post in site.pages|filter_by('section', 'blog')|sort_by_date|slice(1, 5) ~%}
          <li><a href="{{ url(post) }}">{{ post.title }}</a></li>
          {%- endfor ~%}
        </ul>
      </div>
